/*Description Section */
.description {
  z-index: 1;
  background-color: aqua;
}
.description img {
  width: 20%;
  min-width: 300px;
  max-width: 500px;
  padding: 1em;
  float: left;
}
.description p {
  line-height: 1.3em;
}

/*Skills Section */
.skills {
  z-index: 2;
  background-color: greenyellow;
}

/*Resume Section */
.resume {
  z-index: 3;
  background-color: yellow;
}

/*Contact Section */
.contact {
  z-index: 4;
  background-color: red;
}

/* General Section */
section.fixed {
  /* position: fixed; */
}
