:root {
  --background-color: #333;
  --background-color-varient: #444;
  --forground-color: #fff;

  --primary: #fff;
  --primary-varient: #333;
  --secondary: #333;
  --secondary-varient: #333;

  --primary-font: "Open Sans" sans-serif;
}


/* Header */
header li, header ul, #recent_projects ul, #recent_projects li{
  display: flex;
}
header ul, #recent_projects ul {
  margin: 16px;
  justify-content: space-evenly;
  
}

#header a {
  text-decoration: none;
  display: block;
  background-color: aqua;
  padding: 16px;
  border-radius: 30%;
  
  color: black;
}

/* Main */
body {
  font: var(--primary-font);
}

section h1 {
  text-align: center;
}
#AboutMe div {
  
}
