:root {
  --background-color: #272626;
  --text-color: #d5d5d5;
  --link-color: hsl(211, 100%, 76%);
  --link-hover-color: hsl(220, 98%, 64%);
  --heading-color: #ffffff;
}
main,
body {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
a,
p {
  font-size: 2rem;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
