/**
Loader
*/
.pace-running > :not(.pace) {
  opacity: 0;
}

.pace-done > :not(.pace) {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Mixins Responsive Design */
body,
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  quotes: initial;
}

section {
  height: 100vh;
  position: sticky !important;
  top: 0;
  z-index: auto;
}

.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.hero .background {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: rgb(48, 48, 48);
}

.hero .content {
  color: #fff;
  display: block;
  font-family: "AeonikPro-Medium";
  font-size: 32px;
  line-height: 31px;
  left: 0;
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hero .content p {
  display: block;
  margin: 0;
  opacity: 0;
}
